# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [1]:
import sqlite3
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [2]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')

In [3]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)
league_data = pd.read_sql("SELECT * FROM League;", db)
mathes_data = pd.read_sql("SELECT * FROM Match;", db)
team_data = pd.read_sql("SELECT * FROM Team;", db)
player_Attributes_data = pd.read_sql("SELECT * FROM Player_Attributes;", db)

In [4]:
player_data.head()
#league_data.head()
#mathes_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [275]:
players_180_190 = len(player_data.id[(player_data.height >= 180) & (player_data.height <= 190)])# Your code here

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [276]:
players_1980 = len(player_data.birthday[pd.to_datetime(player_data.birthday).dt.year == 1980])# Your code here

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [6]:
highest_players = player_data.sort_values(by = ["weight", "player_name"],ascending = [False,True])[0:10]# Your code here
highest_players = list(highest_players["player_name"])
print(highest_players)

['Kristof van Hout', 'Tim Wiese', 'Jeroen Verhoeven', 'Ishmael Miller', 'Cassio', 'Christopher Samba', 'Lars Unnerstall', 'Marcus Hahnemann', 'Abdoulaye Faye', 'Enoch Showunmi']

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [5]:
players_yearaq = pd.to_datetime(player_data.birthday).dt.year
players_yearaq = players_yearaq[(players_yearaq >= 1980) & (players_yearaq <= 1990)].value_counts().sort_index()
years_born_players = []
for i in players_yearaq.index:
    years_born_players.append((i,players_yearaq[i]))
print(years_born_players)

[(1980, 434), (1981, 475), (1982, 487), (1983, 541), (1984, 607), (1985, 593), (1986, 710), (1987, 722), (1988, 802), (1989, 723), (1990, 696)]

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [8]:
andario_name = player_data[["player_name","height"]]
andario_name['player_name'].astype('|S',copy=False)
andario_name = andario_name[andario_name['player_name'].str.startswith("Adriano")]
print(andario_name)
adriano_mean, adriano_std = andario_name['height'].mean(),andario_name['height'].std() # Your code hereAdrian
#print(adriano_mean,adriano_std)

                  player_name  height
184         Adriano De Pierro  185.42
185          Adriano Facchini  187.96
186    Adriano Ferreira Pinto  177.80
187      Adriano Jose de Lara  185.42
188  Adriano Pereira da Silva  180.34
189             Adriano Russo  185.42
190                   Adriano  175.26
191                   Adriano  187.96
192                   Adriano  172.72
193                   Adriano  182.88

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [280]:

player_born_Tsk6 = pd.to_datetime(player_data.birthday).dt.day_name().value_counts()
dow_with_min_players_born = player_born_Tsk6.index[player_born_Tsk6 == player_born_Tsk6.min()][0]

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [281]:

maches_count_tsk7 =  league_data.merge(mathes_data,left_on='id', right_on='league_id',how='outer')[["name"]].groupby(["name"]).size()
league_most_matches  =  maches_count_tsk7.index[maches_count_tsk7 == maches_count_tsk7.max()][0]
#print(league_most_matches)

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [282]:
#print(mathes_data.merge(mathes_data,left_on='id', right_on='league_id',how='outer'))

playeres_mathes_tsk8 = mathes_data
player_count_tsk8 = 0

for i in range(1,12):
            player_count_tsk8 = player_data[["player_api_id"]].merge(playeres_mathes_tsk8["home_player_" 
                        + str(i)],left_on = "player_api_id" ,right_on = "home_player_" 
                        + str(i),how = "left" ).groupby('player_api_id').size() + player_count_tsk8 - 1
           
            player_count_tsk8 = player_data[["player_api_id"]].merge(playeres_mathes_tsk8["away_player_" 
                        + str(i)],left_on = "player_api_id" ,right_on = "away_player_" 
                        + str(i),how = "left" ).groupby('player_api_id').size() + player_count_tsk8 - 1 


max_matches_player = player_data[player_data.player_api_id == player_count_tsk8.idxmax()]["player_name"].iloc[0]
#print(max_matches_player)

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [283]:
def one_to_zero(x):
    if x == 1:
        return 0
    else:
        return x

    
player_Attributes_data_tsk_9 = player_Attributes_data.drop(["id", "player_fifa_api_id", "player_api_id",
                                                           "date", "preferred_foot", "attacking_work_rate",
                                                           "defensive_work_rate"],axis = 1)
player_Attributes_data_tsk_9 = player_Attributes_data_tsk_9.corr().applymap(lambda x: one_to_zero(x))
col_tsk9 = list(player_Attributes_data_tsk_9.columns.values)

col_tsk9 = list(player_Attributes_data_tsk_9.columns.values)
len_col_tsk9 = len(col_tsk9)
col_names = []
player_tsk9_fin = pd.DataFrame(columns = ["name"])

for i in col_tsk9[0:]:
    player_tsk9_fin = pd.concat([player_Attributes_data_tsk_9[i],player_tsk9_fin])
    a = ( [i for j in range(0,len_col_tsk9)])
    col_names =  a + col_names
player_tsk9_fin["name"] = col_names
player_tsk9_fin = player_tsk9_fin.rename(columns = {0:"value"})
#print(player_tsk9_fin)





player_tsk9_fin.sort_values('value',ascending=False,inplace = True)
#print(player_tsk9_fin[:10])
player_tsk9_fin.drop_duplicates(subset=['value'], keep="first", inplace=True)
#print(player_tsk9_fin)
top_correlated_features = [(player_tsk9_fin.index[0], player_tsk9_fin.name[0]),
                            (player_tsk9_fin.index[1], player_tsk9_fin.name[1]),
                            (player_tsk9_fin.index[2], player_tsk9_fin.name[2]),
                            (player_tsk9_fin.index[3], player_tsk9_fin.name[3]),
                            (player_tsk9_fin.index[4], player_tsk9_fin.name[4]),]# Your code here

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [284]:
def Summ_list(x, y):
        return list(map(lambda a, b: (a - b)**2, x, y))
    
def Euclidean_distance(p,q):
    count = Summ_list(p,q)
    return sum(count)**(1/2)


Fotballer_api_tsk10 = player_data[["player_api_id"]][player_data.player_name.str.contains("Neymar")].reset_index()
Fotballer_api_tsk10 = int(Fotballer_api_tsk10.player_api_id[0])

#tsk10_cor_fear = ','.join(['%s,%s' % tup for tup in top_correlated_features]).split(",")
#tsk10_cor_fear = ["player_api_id","date"]+ tsk10_cor_fear
player_Attributes_data_tsk_10 = player_Attributes_data.drop(["id", "player_fifa_api_id",
                                                            "preferred_foot", "attacking_work_rate",
                                                            "defensive_work_rate"],axis = 1).dropna()

player_Attributes_data_tsk_10 = player_Attributes_data_tsk_10.sort_values(["player_api_id","date"],
                                                                          ascending = [False,False])

#print(player_Attributes_data_tsk_10[["player_api_id","date"]])
#print(player_Attributes_data_tsk_10[player_Attributes_data_tsk_10.player_api_id == Fotballer_api_tsk10])
player_Attributes_data_tsk_10.drop_duplicates(subset=['player_api_id'], keep="first", inplace=True)

#print(player_Attributes_data_tsk_10[player_Attributes_data_tsk_10.player_api_id == Fotballer_api_tsk10])
player_Attributes_data_tsk_10 = player_Attributes_data_tsk_10.drop("date",axis = 1)


Fotballer_tsk10 = player_Attributes_data_tsk_10[player_Attributes_data_tsk_10.player_api_id == 19533]
Fotballer_tsk10 = Fotballer_tsk10.drop("player_api_id",axis = 1).values.tolist()
#print(Fotballer_tsk10)


col_tsk10 = list(player_Attributes_data_tsk_10.columns.values)
col_tsk10.remove('player_api_id')
#print(col_tsk10)
#player_Attributes_data_tsk_10 = player_Attributes_data_tsk_10.loc[:,~player_Attributes_data_tsk_10.columns.duplicated()]

player_Attributes_data_tsk_10 = player_Attributes_data_tsk_10.set_index("player_api_id")

#print(player_Attributes_data_tsk_10)
#Neumar_dist_tsk10 = Euclidean_distance(list(player_Attributes_data_tsk_10.loc[Fotballer_api_tsk10][first_list_atr]),
#                        list(player_Attributes_data_tsk_10.loc[Fotballer_api_tsk10][second_list_atr]))
#Neumar_dist_tsk10
fotbalers_dist_tsk10 = player_Attributes_data_tsk_10.apply(lambda row: Euclidean_distance(list(row[col_tsk10]),
                                                                           Fotballer_tsk10[0]),axis=1).rename("value")

fotbalers_dist_tsk10 = fotbalers_dist_tsk10.sort_values()
fotbalers_dist_tsk10 = player_data[["player_api_id","player_name"]].merge(fotbalers_dist_tsk10,left_on = "player_api_id" 
                            ,right_on = "player_api_id" 
                            ,how = "left" ).sort_values(["value","player_name"])

neymar_similarities = list(fotbalers_dist_tsk10[1:6]["player_name"])# Your code here
#print(neymar_similarities)

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [285]:
#api_id_tsk11 = int(team_data["team_api_id"][team_data.team_long_name.str.contains("Borussia Dortmund")])
#id_league_tsk11 = int(league_data["id"][league_data.name.str.contains("Germany 1. Bundesliga")])
mathes_data_tsk11 = mathes_data[["league_id","home_team_api_id","season"]]
mathes_data_tsk11['season'].astype('|S',copy=False)
borussia_bundesliga_2008_2009_matches = len(mathes_data_tsk11[(mathes_data_tsk11.season.str.contains("2008/2009")) &
        (mathes_data_tsk11.league_id == int(league_data["id"][league_data.name.str.contains("Germany 1. Bundesliga")])) &
        (mathes_data_tsk11.home_team_api_id == int(team_data["team_api_id"][team_data.team_long_name.str.contains("Borussia Dortmund")]))])

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [286]:
team_data_tsk12 = team_data[["team_long_name","team_api_id"]]
mathes_data_tsk12 = mathes_data[["home_team_api_id","away_team_api_id"
                ,"season"]][mathes_data.league_id == int(league_data["id"][league_data.name.str.contains("Germany 1. Bundesliga")])]
mathes_data_tsk12['season'].astype('|S',copy=False)
mathes_data_tsk12 = mathes_data_tsk12[mathes_data_tsk12.season.str.contains("2008/2009")]
mathes_count_tsk12 = team_data_tsk12.merge(mathes_data_tsk12["home_team_api_id"],left_on = "team_api_id" 
                                                  ,right_on = "home_team_api_id" 
                                                  ,how = "left" ).groupby("team_long_name").size() 
mathes_count_tsk12 = team_data_tsk12.merge(mathes_data_tsk12["away_team_api_id"],left_on = "team_api_id" 
                                                  ,right_on = "away_team_api_id" 
                                                  ,how = "left" ).groupby("team_long_name").size() + mathes_count_tsk12

team_most_matches_bundesliga_2008_2009 = mathes_count_tsk12.max()

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [287]:
api_id_tsk13 = int(team_data["team_api_id"][team_data.team_long_name.str.contains("Arsenal")])
mathes_data_tsk13 = mathes_data[["home_team_api_id","away_team_api_id",
                                 "home_team_goal","away_team_goal",
                                 "season"]][
        ((mathes_data.home_team_api_id == api_id_tsk13)  & (mathes_data.home_team_goal  > mathes_data.away_team_goal)) |
        ((mathes_data.away_team_api_id == api_id_tsk13) & (mathes_data.home_team_goal  < mathes_data.away_team_goal))]
mathes_data_tsk13['season'].astype('|S',copy=False)
mathes_data_tsk13 = mathes_data_tsk13[mathes_data_tsk13.season.str.contains("2015/2016")]
arsenal_won_matches_2015_2016 = len(mathes_data_tsk13)

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [288]:
team_data_tsk14 = team_data[["team_long_name","team_api_id"]]
mathes_data_tsk14 = mathes_data[["home_team_api_id","away_team_api_id"
                            ,"season"]]

mathes_data_tsk14['season'].astype('|S',copy=False)
mathes_data_tsk14 = mathes_data_tsk14[mathes_data_tsk14.season.str.contains("2015/2016")]
mathes_count_tsk14 = team_data_tsk14.merge(mathes_data_tsk14["home_team_api_id"],left_on = "team_api_id" 
                            ,right_on = "home_team_api_id" 
                            ,how = "left" ).groupby("team_long_name").size() 
mathes_count_tsk14 = team_data_tsk14.merge(mathes_data_tsk14["away_team_api_id"],left_on = "team_api_id" 
                            ,right_on = "away_team_api_id" 
                            ,how = "left" ).groupby("team_long_name").size() + mathes_count_tsk14

mathes_win_ct_tsk14 = team_data_tsk14.merge(mathes_data_tsk14["home_team_api_id"]
                            [(mathes_data.home_team_goal > mathes_data.away_team_goal)]
                            ,left_on = "team_api_id" 
                            ,right_on = "home_team_api_id" 
                            ,how = "left" ).groupby("team_long_name").size() 

mathes_win_ct_tsk14 = team_data_tsk14.merge(mathes_data_tsk14["away_team_api_id"]
                            [(mathes_data.home_team_goal < mathes_data.away_team_goal)]
                            ,left_on = "team_api_id" 
                            ,right_on = "away_team_api_id" 
                            ,how = "left" ).groupby("team_long_name").size() + mathes_win_ct_tsk14

team_highest_winrate_2015_2016 = ((mathes_win_ct_tsk14-2)/(mathes_count_tsk14-1)).sort_index().idxmax()# Your code here
#print(team_highest_winrate_2015_2016)

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [289]:
def gap_sum(date1,date2,str1,str2):
    if (str1 == str2):
        return (date2 - date1).days
    else:
        return 0


team_data_tsk15 = team_data[["team_long_name","team_api_id"]]
mathes_data_tsk15 = mathes_data[["home_team_api_id","away_team_api_id"
                            ,"season","date"]][mathes_data.league_id ==
                            int(league_data["id"][league_data.name.str.contains("England Premier League")])]
mathes_data_tsk15['season'].astype('|S',copy=False)
mathes_data_tsk15 = mathes_data_tsk15[mathes_data_tsk15.season.str.contains("2010/2011")]
mathes_data_tsk15["date"] = pd.to_datetime(mathes_data_tsk15.date)


mathes_date_away_tsk15 = team_data_tsk15.merge(mathes_data_tsk15[["away_team_api_id","date"]],left_on = "team_api_id" 
                            ,right_on = "away_team_api_id" 
                            ,how = "left" )

mathes_date_home_tsk15 = team_data_tsk15.merge(mathes_data_tsk15[["home_team_api_id","date"]],left_on = "team_api_id" 
                            ,right_on = "home_team_api_id" 
                            ,how = "left" )

mathes_date_home_tsk15.drop(["home_team_api_id","team_api_id"],axis = 1,inplace = True)
mathes_date_away_tsk15.drop(["away_team_api_id","team_api_id"],axis = 1,inplace = True)
mathes_date_home_tsk15 = mathes_date_home_tsk15[(mathes_date_home_tsk15['date'].notna())]
mathes_date_away_tsk15 = mathes_date_away_tsk15[(mathes_date_away_tsk15['date'].notna())]
mathes_date_tsk15 = mathes_date_home_tsk15.append(mathes_date_away_tsk15).sort_values(["team_long_name","date"])




mathes_date_tsk15["next_date"] = mathes_date_tsk15["date"].shift(-1)
mathes_date_tsk15["next_team_name"] = mathes_date_tsk15["team_long_name"].shift(-1)
#print(mathes_date_tsk15)
#print(mathes_date_tsk15.date.dtype)
#print(mathes_date_tsk15)
mathes_date_tsk15 = mathes_date_tsk15.apply(lambda row: gap_sum(row['date'], row['next_date'],
                                                                row['team_long_name'],row['next_team_name']), axis=1)
#mathes_date_tsk15 = pd.to_datetime(mathes_date_tsk15)
#print(mathes_date_tsk15)

highest_gap_england_2010_2011 = mathes_date_tsk15.max()# Your code here
#print(highest_gap_england_2010_2011)

### Warning! Do not change anything in the area below

In [290]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")